<body>
    <!-- Container für die Feature-Abschnitte -->
    <div class="feature-container">
        <!-- Einzelne Feature-Abschnitte -->
        <div class="feature">
            <div class="feature-number">01</div>
            <h2>Kostenlos</h2>
            <p>Einfach anmelden und kostenlos starten.</p>
        </div>
        <div class="feature">
            <div class="feature-number">02</div>
            <h2>Verifizierte Nutzer</h2>
            <p>Wir setzen alles daran keine Fake Profile zuzulassen.</p>
        </div>
        <img src="/assets/Logo_LE.png" class="logo"/> 
        <div class="feature">
            <div class="feature-number">03</div>
            <h2>Echte Bewertungen</h2>
            <p>Unser Bewertungssystem verifiziert Nutzerbewertungen</p>
        </div>
        <div class="feature">
            <div class="feature-number">04</div>
            <h2>Geheime Tipps</h2>
            <p>Hier findest du echte secret Places und geheime Orte.</p>
        </div>
    </div>

    <div class="tab">


    </div>

    <!-- Schwarzer Balken für den Abschnitt "Für Reisende" -->
    <div class="black-bar first-black-bar" id="fürreisende">
        <p class="black-bar-text">Für Reisende</p>
    </div>

    <!-- Wrapper für die Inhalte -->
    <div class="content-wrapper">
        <!-- Container für Bild-Text-Kombination -->
        <div class="image-text-container">
            <img src="/assets/Koffermenschen.jpg" alt="Beschreibender Text für das Bild" class="image-side">
            <div class="text-side-right">
                <h1>Schritt 1:</h1>
                <h2>Einen passenden Guide finden</h2>
                <p>Unser Plattform bringt Reisende und lokale Guides zusammen, um einzigartige, authentische Stadterlebnisse zu ermöglichen. Finde deinen perfekten Begleiter, der deine Interessen teilt und dir verborgene Schätze abseits der üblichen Touristenpfade zeigt.</p>
                <p>Beginne deine Suche jetzt, indem du einfach deinen Zielort eingibst. Entdecke Guides, die bereit sind, ihre Liebe zur Stadt mit dir zu teilen und dir ein unvergessliches Erlebnis zu bereiten.</p>
                <p>Um die Sicherheit zu gewährleisten, musst du dich zu erst Anmelden und Authentifizieren, bevor du mit den Guids in kontakt treten kannst.</p>
            </div>
        </div>

        <!-- Container für Text-Bild-Kombination -->
        <div class="text-image-container2">
            <div class="text-side-left">
                <h1>Schritt 2:</h1>
                <h2>Kommuniziere mit deinem Guide</h2>
                <p>Finde heraus ob der Guide zu dir passt.</p>
                <p>Schreib, sprech oder mach einen Video Cal um zu sehen ob die Chemie zwischen euch stimmt und er dir genau die Orte zeigen kann, an den du interessiert bist.</p>
            </div>
            <img src="/assets/KommunizieremitdemGuide.jpg" alt="Beschreibender Text für das zweite Bild" class="image-side">
        </div>

        <!-- Weitere Bild-Text-Kombination -->
        <div class="image-text-container">
            <img src="/assets/GuideTreffen.jpg" alt="Beschreibender Text für das Bild" class="image-side">
            <div class="text-side-right">
                <h1>Schritt 3:</h1>
                <h2>Lass dir das Stadtgeflüster zeigen</h2>
                <p>Vereinbare ein Treffen mit deinem Local Guide und lass dir die Stadt aus den Augen eines Locals zeigen.</p>
                <p>Dank der vorherigen kommunikation, kennt Ihr eure Interessen und und unternimmt genau die Aktivitäten, die zu euch passen.</p>
            </div>
        </div>
    </div>

    <!-- Schwarzer Balken für den Abschnitt "Für Local Guides" -->
    <div class="black-bar" id="localguides">
        <p class="black-bar-text">Für Local Guides</p>
    </div>

    <!-- Wrapper für die Inhalte der Local Guides -->
    <div class="content-wrapper">
        <!-- Text-Bild-Kombination für Local Guides -->
        <div class="text-image-container2">
            <div class="text-side-left">
                <h2>Zeige dein Stadtgeflüster</h2>
                <p>Bist du begeistert von deiner Stadt und möchtest dein Wissen und deine Leidenschaft mit anderen teilen? Werde ein Local Guide und zeige Besuchern die verborgenen Schätze und die einzigartige Kultur deines Ortes.</p>
                <p>Als Guide hast du die fantastische Möglichkeit, Menschen aus aller Welt zu treffen, interkulturelle Brücken zu bauen und gleichzeitig dein lokales Wissen zu vertiefen. Teile deine Lieblingsplätze, Geschichten und persönlichen Empfehlungen, um Besuchern ein unvergessliches Erlebnis zu bieten.</p>
                <p>Verbinde dich jetzt mit einer Community, die deine Begeisterung für die Stadt teilt und unterstütze Reisende dabei, die Authentizität und den wahren Geist deines Ortes zu entdecken. Dein Engagement macht den Unterschied!</p>
            </div>
            <img src="/assets/ZeigdeineStadt.png" alt="Beschreibender Text für das zweite Bild" class="image-side">
        </div>

        <!-- Weitere Bild-Text-Kombination -->
        <div class="image-text-container">
            <img src="/assets/Anmeldung.png" alt="Beschreibender Text für das Bild" class="image-side">
            <div class="text-side-right">
                <h1>Schritt 1:</h1>
                <h2>Melde dich an der Plattform an</h2>
                <p>Melde dich schnell und unkompliziert an</p>
                <p>Wir legen hohen wert auf Vertrauenswürdigkeit. Um Fakeprofile zu verhindern, musst du dich zu beginn verifizieren.</p>
            </div>
        </div>

        <!-- Text-Bild-Kombination -->
        <div class="text-image-container2">
            <div class="text-side-left">
                <h1>Schritt 2:</h1>
                <h2>Erstelle dein Profil</h2>
                <p>Erzähle der Community von dir.</p>
                <p>Welche Orte möchtest du zeigen. Rustikale Kneipen, architektonische Wunderwerke oder pure Natur?</p>
            </div>
            <img src="/assets/Bellut.png" alt="Beschreibender Text für das zweite Bild" class="image-side">
        </div>

        <!-- Weitere Bild-Text-Kombination -->
        <div class="image-text-container">
            <img src="/assets/Wartenaufanfrage.jpg" alt="Beschreibender Text für das Bild" class="image-side">
            <div class="text-side-right">
                <h1>Schritt 3:</h1>
                <h2>Warte auf Anfragen</h2>
                <p>Trete in Kontakt mit dem Reisenden.</p>
                <p>Prüfe, ob eure Interessen und deine Orte für den Traveler interessant sind.</p>
                <p>Jetzt steht eurem Treffen nichts mehr im Weg!</p>
            </div>
        </div>
    </div>
</body>
